<header>
    <div class="container">
        <div class="navbar">
            <a asp-controller="Home" asp-action="Index">Home</a> | <a asp-controller="Home" asp-action="Shop" >Shop</a>| <a asp-controller="Login" asp-action="Logout">Logout</a>
        </div>
</header>

<h2>Congrats your watch or watches is on the way...</h2>