@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kairos</h1>
    <p>Fancy stuff goes here oooooh</a>.</p>
    <a asp-action="Login" asp-controller="Login">Login</a>
    <a asp-action="Register" asp-controller="Login">Register</a>
    <a asp-action="Shop" asp-controller="Home">Shop</a>
</div>
