@* @using Microsoft.Extensions.Options

@inject [Kairos] IOptions <StripeSetting> Stripe

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<form action="/Home/Charge" method="POST">
<label> Amount: $5.00</label>
    <script src="//checkout.stripe.com/v2/checkout.js" 
            class="stripe-button" 
            data-key="@Stripe.Value.PublishableKey"
            data-description=""
            data-amount="500">
    </script>
    
</form>

<div class="container">
    <div class="navbar">
        <a asp-action="Home">Home</a>  |  <a href="Logout">Logout</a>
    </div>

    <h1>@ViewBag.UserId.'s Shopping Cart</h1> *@