

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<header>
<div class="container">
    <div class="navbar">
        <a asp-action="Home">Home</a>  |  <a href="Logout">Logout</a>
    </div>
</header>

    <div class="navbar">
        <a asp-action="Price">Price</a>  |  <a href="Color">Color</a>|  <a href="Brand">Brand</a>|  <a href="Size">Size</a>
        
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle">Price 
            <i class="fa fa-caret-down"></i>
        </button>
    <div class="price-content">
        <a asp-action="Highest">$1000-$5000</a>
        <a asp-action="#">$500-$999</a>
        <a asp-action="#">$100-$499</a>
        <a asp-action="Lowest">$50-$99</a>

<button class="dropbtn">Color
            <i class="fa fa-caret-down"></i>
        </button>
    <div class="color-content">
        <a asp-action="Black">Black</a>
        <a asp-action="White">White</a>
        <a asp-action="Gold">Gold</a>
        <a asp-action="Silver">Silver</a>

        <button class="dropbtn">Brand
            <i class="fa fa-caret-down"></i>
        </button>
    <div class="brand-content">
        <a asp-action="Citizen">Citizen</a>
        <a asp-action="Gucci">Gucci</a>
        <a asp-action="Movado">Movado</a>
        <a asp-action="Whatever">Whatever</a>

        <button class="dropbtn">Size
            <i class="fa fa-caret-down"></i>
        </button>
    <div class="size-content">
        <a asp-action="Small">Small</a>
        <a asp-action="Medium">Medium</a>
        <a asp-action="Large">Large</a>
    </div>
    </div>
    </div>
    </div>
    </div>

<h1>@ViewBag.Show.WatchId</h1>

<img src="women_citizen.jpg" alt="Citizen Womens Watch with Heart">

<div class="form-group">
    <input type="submit" class="btn btn-link" value="Add to Wishlist">
</div>

<div class="form-group">
    <input type="submit" class="btn btn-link" value="Add to Cart">
</div>