@model Watch
<script>
function imageZoom(imgID, resultID) {

    var img, lens, result, cx, cy;

    img = document.getElementById(imgID);

    result = document.getElementById(resultID);

/*create lens:*/
    lens = document.createElement("DIV");
    lens.setAttribute("class", "img-zoom-lens");
/*insert lens:*/
    img.parentElement.insertBefore(lens, img);
/*calculate the ratio between result DIV and lens:*/
    cx = result.offsetWidth / lens.offsetWidth;
    cy = result.offsetHeight / lens.offsetHeight;

/*set background properties for the result DIV:*/
    result.style.backgroundImage = "url('" + img.src + "')";
    result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
/*execute a function when someone moves the cursor over the image, or the lens:*/
    lens.addEventListener("mousemove", moveLens);
    img.addEventListener("mousemove", moveLens);
/*and also for touch screens:*/
    lens.addEventListener("touchmove", moveLens);
    img.addEventListener("touchmove", moveLens);
    function moveLens(e) {

        var pos, x, y;
    /*prevent any other actions that may occur when moving over the image:*/
        e.preventDefault();
    /*get the cursor's x and y positions:*/
        pos = getCursorPos(e);
    /*calculate the position of the lens:*/
        x = pos.x - (lens.offsetWidth / 2);
        y = pos.y - (lens.offsetHeight / 2);

    /*prevent the lens from being positioned outside the image:*/
        if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
        if (x < 0) {x = 0;}
        if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
        if (y < 0) {y = 0;}

    /*set the position of the lens:*/
        lens.style.left = x + "px";
        lens.style.top = y + "px";

    /*display what the lens "sees":*/
        result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
    }


    function getCursorPos(e) {

        var a, x = 0, y = 0;

        e = e || window.event;
    /*get the x and y positions of the image:*/
        a = img.getBoundingClientRect();
    /*calculate the cursor's x and y coordinates, relative to the image:*/
        x = e.pageX - a.left;
        y = e.pageY - a.top;
    /*consider any page scrolling:*/
        x = x - window.pageXOffset;
        y = y - window.pageYOffset;

        return {x : x, y : y};
    }
}

</script>



<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle font-weight-bold" href="" id="navbarddrop" data-toggle="dropdown">Style</a>
                <div class="dropdown-menu font-weight-bold">
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="">Price</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="">Brand</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="">Color</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle font-weight-bold" href="" id="navbarddrop" data-toggle="dropdown">Price</a>
                <div class="dropdown-menu fontweight-bold">
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="PriceLowHigh">Lowest to
                        Highest</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="PriceHighLow">Highest to
                        Lowesy</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle font-weight-bold" href="" id="navbarddrop" data-toggle="dropdown">Color</a>
                <div class="dropdown-menu fontweight-bold">
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="ColorGold">Gold</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="ColorSilver">Silver</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="ColorBlack">Black</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="ColorRoseGold">Rose
                        Gold</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle font-weight-bold" href="" id="navbarddrop" data-toggle="dropdown">Material</a>
                <div class="dropdown-menu fontweight-bold">
                    <a class="dropdown-item font-weight-bold" asp-controller="Home" asp-action="MaterialGold">Gold</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home"
                        asp-action="MaterialTitanium">Titanium</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home"
                        asp-action="MaterialStainlessSteel">Stainless Steel</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home"
                        asp-action="MaterialCarbonFiber">Carbon Fiber</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home"
                        asp-action="MaterialCeramic">Ceramic</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home"
                        asp-action="MaterialRubberSilicone">Rubber/Silicone</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle font-weight-bold" href="" id="navbarddrop" data-toggle="dropdown">Size</a>
                <div class="dropdown-menu fontweight-bold">
                    <a class="dropdown-item font-weight-bold" asp-controller="Home">Small</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home">Medium</a>
                    <a class="dropdown-item font-weight-bold" asp-controller="Home">Large</a>
                </div>
            </li>
    </nav>

    <div class="container" id="product-section">
        <div class="row">
            <div class="img-zoom-container">
                @* "~/images/@Model.ImageUrl" *@
                <img id="Watch" src="~/images/@Model.ImageUrl" height="500" width="500">
                <div id="myresult" class="img-zoom-result"></div>
            </div>
                <script>
                imageZoom("Watch", "myresult");
                </script>
            <div class="col-md-6">
                <h1>Watch Id from ViewBag goes here</h1>
                <h1>Description:</h1>
                <p>Smart Watch, Social Media, Text Control Music. GooglePlay, GPS, Swimproof Accelerometer, 
                Altimeter, Ambient Light, Gyroscope, Heart Rate, Microphone, NFC, Untethered GPS</p>

                <div class="form-group">
                    <a asp-action="AddToCart" asp-controller="Home" asp-route-watchId="@Model.WatchId">
                        <button type="submit" class="btn btn-small">Add to cart</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>