
* {
  box-sizing: border-box;
  background-color: #1b201a;
  font-family: 'Carrois Gothic SC';
  font-weight: bolder;
  font-size: large;
}

body{
  background-color: #1b201a;
}

.banner{
  max-width: 1110px;
  display: flex;
}

label{
  color: #f2ce80;
}

select{
  color: #841a15;
}

h1{
  color: #841a15;
}

h2{
  color: #f2ce80;
}

a{
  color: #287a71;
  padding: 5px;
}

a:hover{
  text-decoration: none;
  color: #1b201a;
  background-color: #287a71;
  padding: 5px;
}

.dropdown-item{
  text-align: center;
  background-color: #1b201a;
  padding: 2px 16px;
  color: #287a71;
}

.dropdown-menu{
  text-align: center;
  background-color: #1b201a;
  padding: 2px 16px;
  color: #287a71;
}

.dropdown-menu:hover{
  text-decoration: none;
  color: #1b201a;
}

.dropdown-item:hover{
  text-decoration: none;
  color: #1b201a;
  background-color: #287a71;
}

.nav-item{
  margin: 0px 20px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  background-color: #1b201a;
  border: 1px solid  #f2ce80;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #287a71;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #1b201a;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #287a71;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.card-header{
  background-color: #1b201a;
  padding: 10px;
}

.card{
  color:#f2ce80;
  display: inline-block;
  max-width: 355px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  vertical-align: top;
}

.card img {
  width:100%;
  max-height: 260px;
  max-width: 330px;
}

.card-footer{
  color:#f2ce80;
  background-color: #1b201a;
}

.caption{
  font-family: 'Carrois Gothic SC';
  color: #287a71;
}

.btn-small{
  color:  #287a71;
  font-weight: bold;
  border: 1px solid #841a15;
  border-radius: 0;
}

.btn{
  color:  #287a71;
  font-weight: bold;
  border: 1px solid #841a15;
  border-radius: 0;
  background-color: none;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #1b201a;
  padding: 2px 16px;
  color: #287a71;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  height: 150px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  width: 100%;
}


.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 80px;
  height: 80px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 330px;
  height: 330px;
}

.monospaced{
  font-family: "Ubuntu Mono", monospaced;
}

body{
  background-color: black;
}

.row{
  color: burlywood;
}

body{
  background-color: black;
}
.demo.cursor{
  max-height: 107px;;
}

.active,
.demo:hover {
  opacity: 1;
}

h3{
  color: #287a71;
}